:root {
    --primary-color: #646cff;
    --secondary-color: #61dafb;
    --shadow-color-primary: rgba(100, 108, 255, 0.67);
    --shadow-color-secondary: rgba(97, 218, 251, 0.67);
    --text-color-secondary: #888;
    --animation-duration: 20s;
    --padding-standard: 2em;
    --max-width-container: 1280px;
}

#root {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: var(--padding-standard);
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em var(--shadow-color-primary));
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em var(--shadow-color-secondary));
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite var(--animation-duration) linear;
    }
}

.card {
    padding: var(--padding-standard);
}

.read-the-docs {
    color: var(--text-color-secondary);
}
